/* The main wrapper for our pagination links */
.pagination {
    position: relative;
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-family: "Open Sans", sans-serif;
    font-size: 1.3rem;
    color: #9EABB3;
    text-align: center;
}

.pagination a {
    color: #9EABB3;
    transition: all 0.2s ease;
}

/* Push the previous/next links out to the left/right */
.previous-link,
.next-link {
    display: inline-block;
    padding: 0 15px;
    border: #bfc8cd 1px solid;
    text-decoration: none;
    border-radius: 4px;
    transition: border 0.3s ease;
}

.previous-link:hover,
.next-link:hover {
    color: #889093;
    border-color: #98a0a4;
}

    