/* Every post, on every page, gets this style on its <article> tag */
.post {
    position: relative;
    margin-top: 0;
    margin-bottom: 2rem;
    word-wrap: break-word;
}

.post-title {
    margin-top: 0;
}

body:not(.post-template) .post-title {
    font-size: 2.2rem;
}

.post-title a {
    text-decoration: none;
}

.post-excerpt p {
    margin: 0;
    line-height: 1.7em;
}

.read-more {
    text-decoration: none;
}

.post-meta {
    margin: 1rem 0 0 0;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    color: #9EABB3;
}

.post-meta a {
    color: #9EABB3;
    text-decoration: none;
}

.post-meta a:hover {
    text-decoration: underline;
}

.user-meta {
    position: relative;
    padding: 0.3rem 40px 0 100px;
    min-height: 77px;
}

.post-date {
    white-space: nowrap;
}

.reading-time {
    white-space: nowrap;
}

.user-image {
    position: absolute;
    top: 0;
    left: 0;
}

.user-name {
    display: block;
    font-weight: 700;
}

.user-bio {
    display: block;
    max-width: 440px;
    font-size: 1.4rem;
    line-height: 1.5em;
}

.publish-meta {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4.3rem 0 4rem 0;
    text-align: right;
}

.publish-heading {
    display: block;
    font-weight: 700;
}

.publish-date {
    display: block;
    font-size: 1.4rem;
    line-height: 1.5em;
}


/* ==========================================================================
    5. Single Post - When you click on an individual post
    ========================================================================== */

.post-template .post-header {
    margin-bottom: 1rem;
    text-align: center;
}

/* Stop elements, such as img wider than the post content, from
    creating horizontal scroll - slight hack due to imperfections
    with browser width % calculations and rounding */
.post-template .post-content {
    overflow: hidden;
    line-height: 2rem;
}

/* Tweak the .post wrapper style */
.post-template .post {
    border-bottom: none;
    padding-bottom: 0;
}

.post-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-template .post-content > p:first-child {
    font-size: 1.25em;
    line-height: 1.5em;
}

/* Keep images centered. */
.post-content img {
    display: block;
    max-width: 100%;
    height: auto;
    padding: 0.6em 0;
    /* Centers an image by (1) pushing its left edge to the
        center of its container and (2) shifting the entire image
        in the opposite direction by half its own width.
        Works for images that are larger than their containers. */
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%); /* for Safari and iOS */
    -ms-transform: translateX(-50%); /* for IE9 */
    transform: translateX(-50%);
}

.footnotes {
    font-style: italic;
    font-size: 1.3rem;
    line-height: 1.6em;
}

.footnotes li {
    margin: 0.6rem 0;
}

.footnotes p {
    margin: 0;
}

.footnotes p a:last-child {
    text-decoration: none;
}


/* The author credit area after the post */
.post-footer {
    position: relative;
    border-top: #EBF2F6 1px solid;
}

.post-footer h4 {
    font-size: 1.8rem;
    margin: 0;
}

.post-footer p {
    margin: 1rem 0;
    font-size: 1.4rem;
    line-height: 1.75em;
}

.post-footer h4 a {
    color: #2e2e2e;
    text-decoration: none;
}

.post-footer h4 a:hover {
    text-decoration: underline;
}

.social-share {
    width: 170px;
}