<nav class="pagination row">
  <div class="col">
    {% if pagination.previousPageHref %}
        <a class="next-link" href="{{ pagination.previousPageHref }}">
          <i class="fas fa-angle-double-left" aria-hidden="true"></i> 
          <span class="d-none d-md-inline">Previous</span>
        </a>
    {% endif %}
  </div>

  <div class="col">
    <span>Page {{ pagination.pageNumber + 1 }} </span>
  </div>

  <div class="col">
    {% if pagination.nextPageHref %}
      <a class="previous-link" href="{{ pagination.nextPageHref }}">
        <span class="d-none d-md-inline">Next</span>
        <i class="fas fa-angle-double-right" aria-hidden="true"></i> 
      </a>
    {% endif %}
  </div>
</nav>
